<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <sectionGroup name="modelViews">
      <section name="assemblies" type="System.Configuration.DictionarySectionHandler"/>      
    </sectionGroup>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>

  <modelViews>
    <assemblies>
      <add key="DemoModels" value="CouchbaseModelViews.DemoModels" />
    </assemblies>
  </modelViews>

  <couchbase>
    <servers bucket="beer-sample" bucketPassword="">
      <add uri="http://localhost:8091/pools"/>      
    </servers>
  </couchbase>
</configuration>